/MaterialStuffLibrary/gen
/MaterialStuffLibrary/bin
/Demo/bin
/Demo/gen
/ActionBarPreferenceActivityDemo/bin
/ActionBarPreferenceActivityDemo/gen
/ActionBarPreferenceActivityLibrary/gen
/ActionBarPreferenceActivityLibrary/bin
